body {
    overflow: hidden;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.col{
    float: left;
    -webkit-box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.left-pane{
    -webkit-box-sizing: border-box;

}

.right-pane{

}

#emulator{
    overflow-y:scroll;
}