body {
    overflow: hidden;
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

nav{
    padding: 5px 5px;
    margin: 0;
    height: 44px;
}

nav ul{
    list-style: none;
    display: inline-flex;
}

nav li{
    margin: 0 5px;
}

.icon-desc{
    display: none;
}

.col{
    float: left;
    -webkit-box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.left-pane{
    -webkit-box-sizing: border-box;

}

.right-pane{
    padding: 50px;
}

#emulator{
    overflow-y:scroll;
}